body {
  background-color: #eeee;
  transition: background-color 100ms linear;
  overflow: hidden;
}
.danger{
    background-color: rgba(212, 56, 56, 0.933);
}
.passed{
    background-color: rgb(111, 180, 111);
}
.emoji {
  padding: 50px;
  border-radius: 5px;
  background-color: #fff;
  filter: drop-shadow(0 1px 2px #1111116c);
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.emoji-container {
  opacity: 0;
  margin: 0;
  font-size: 2rem;
  transition: all 200ms linear;
  filter: drop-shadow(-2px 4px 1.5px #11111150);
}
.show {
  opacity: 1;
}

.col {
  display: flex;
  align-items: center;
  justify-content: center;
}
.row {
    padding: 2rem;
  --bs-gutter-y: 0.4rem;
  --bs-gutter-x: 0.4rem;
}
.container {
  margin-top: 10px;
  width: 50%;
}
.btn {
  margin-top: 20px;
}
.btn-container {
    display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  overflow: hidden;
}
.hide-panel {
    display: none !important; 
}
